<!-- <html>
    <head>
     <title><%=title%></title>   
    </head>
    <body>
        <%-include('_header');%> -->

<!-- only the variable part of each page should be present and remove other tags -->

        <h1>User Profile</h1>

        <p><%= user.name%></p>
        <p><%= user.email%></p>

        <!-- <%-include('_footer');%>
    </body>
</html> -->